@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variables';

:root {
    --content-width: 80%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html, body, #app {
    width: 100%;
    min-height: 100%;
    font-family: $primary-font-family;
    background-color: $primary-background-color;
}

::placeholder {
    color: $placeholder-color;
}

select {
    appearance: none;
}

a {
    color: $primary-text-color;
    text-decoration: none;
}

@media screen and (max-width: 501px) {
    :root {
        --content-width: 90%;
    }
}