$placeholder-color: rgb(175, 175, 175);
$primary-font-family: 'Poppins', 'Segoe UI', sans-serif;
$primary-text-color: rgb(0, 0, 0);
$primary-background-color: rgb(255, 255, 255);

$app-accent-color: rgb(62, 239, 207);